<div class="nav-container">
  <div class="logo">
    <h2>Logo</h2>
  </div>

  <div class="menu">
    <ul>
      <li class="active">Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div class="about">
    <h5>About Us</h5>
    <h1>Dental Care Services</h1>
  </div>
  <div class="disc-one">
    <p>
      Egestas sed tempus urna et pharetra. Amet risus nullam eget felis. Venenatis urna cursus eget nunc scelerisque  in. Condimentum vitae sapien pellentesque habitant.
    </p>
  </div>
  <div class="disc-two">
    <p>
      Pretium lectus quam id leo in vitae turpis massa. Felis imperdiet proin fermentum leo vel orci. Auctor urna nunc id cursus metus aliquam. Rutrum tellus pellentesque.
    </p>
  </div>
</div>
