
.contact-us{
  margin-left: 900px;
  font-size: 30px;
  padding-top: 25px;

}

.content{
  margin-left: 300px;
  padding-bottom: 30px;
}

.content h1{
  margin: 10px;
}
.content p{
  margin-left: 50px;
}
