<div class="our-misson">
  <div class="misson">
    <h1>Our Mission</h1>
    <ul>
      <li>To extend equally to all New Yorkers, regardless of their ability to pay, comprehensive health services of the highest quality in an atmosphere of humane care, dignity, and respect.</li>
      <li>To promote and protect, as both innovator and advocate, the health, welfare, and safety of the people of the City of New York.</li>
      <li>Fringilla urna porttitor rhoncus dolor purus non enim praesent. Nibh cras pulvinar mattis nunc sed. Enim blandit volutpat maecenas volutpat blandit. Egestas tellus rutrum tellus pellentesque. Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit.</li>
    </ul>
  </div>
  <div class="misson">
    <h1>Our Values</h1>
    <ul>
      <li>It will help us offer our patients a better experience when under our care and will increase staff awareness to become better engaged with the mission and vision of the organization.</li>
      <li>Velit ut tortor pretium viverra suspendisse potenti. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Vel fringilla est ullamcorper eget nulla facilisi etiam. </li>
      <li>Accumsan sit amet nulla facilisi morbi tempus iaculis urna. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Semper feugiat nibh sed pulvinar proin gravida hendrerit.</li>
    </ul>
  </div>
</div>
