<div class="out-container">
  <div class="head">
    <h1>Our Services</h1>
    <p>Consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
  </div>
  <div class="our">
    <span>
      <i class="fas fa-solid fa-toothbrush"></i>
    </span>
    <h2>DENTAL CARE</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam quod maiores libero iste ea inventore aspernatur sed minima ipsam. Facilis, numquam? Animi non hic amet nihil laborum repellat, tenetur beatae.</p>
  </div>
  <div class="our">
    <span>
      <i class="fas fa-solid fa-tooth"></i>
    </span>
    <h2>ORAL SURGERY</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam quod maiores libero iste ea inventore aspernatur sed minima ipsam. Facilis, numquam? Animi non hic amet nihil laborum repellat, tenetur beatae.</p>
  </div>
  <div class="our">
    <span>
      <i class="fas fa-solid fa-stethoscope"></i>
    </span>
    <h2>EMERGENCY CARE</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam quod maiores libero iste ea inventore aspernatur sed minima ipsam. Facilis, numquam? Animi non hic amet nihil laborum repellat, tenetur beatae.</p>
  </div>

</div>
