<div class="services">
  <div class="srvice-title">
    <h1>Preventive services include:</h1>
  </div>
  <div class="services-items">

    <ul>
      <li>Dentures</li>
      <li>Extractions</li>
      <li>Gum treatment</li>
      <li>Implants</li>
      <li>Oral surgery</li>
      <li>Laminates</li>
      <li>Tooth whitening</li>
    </ul>

  </div>
  <div class="srvice-disc">
    <p>Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit. Velit ut tortor pretium viverra suspendisse potenti. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Vel fringilla est ullamcorper eget nulla.</p>
  </div>
</div>
